.todo-filter {
  display: flex;
}

.todo-filter a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.todo-filter a:hover {
  background-color: rgba(158, 158, 158, 0.1);
}

.todo-filter a.is-active i {
  color: #61DAFB;
}

.todo-filter a.is-active::after {
  height: 2px;
  width: 100%;
  display: block;
  content: ' ';
  bottom: -1px;
  left: 0;
  position: absolute;
  background: #61DAFB;
}
